body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: #f5f5f5;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

.btn-voltar {
    position: fixed;
    top: 15px;
    left: 15px;
    background: none;
    border: none;
    font-size: 28px;
    cursor: pointer;
    color: #333;
    transition: color 0.2s;
}

.btn-voltar:hover {
    color: #f07934;
}

.grid-horizontal {
    display: flex;
    gap: 50px;              
    overflow-x: auto;        
    padding: 10px;           
}

.grid-horizontal::-webkit-scrollbar {
    height: 10px;             
}

.grid-horizontal::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.2);
    border-radius: 4px;
}

.card {
    width: 200px;
    height: 200px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
}

.card h2 {
    font-size: 15px;
    margin-bottom: 10px;
    color: #f07934;
}

.tempo-restante {
    font-size: 16px;
    font-weight: bold;
    color: #e74c3c;
    margin-top: 0;
}

.card-img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin-bottom: 10px;
}

.card-content {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 18px;
    margin-bottom: 8px;
}

.card-content h2 {
    margin: 0;
    font-size: 18px;
    text-align: left;
}

.btn-excluir {
    background: none;
    border: none;
    cursor: pointer;
    color: red;
    font-size: 22px;
    transition: transform 0.2s;
}

.btn-edt {
    background: none;
    border: none;
    cursor: pointer;
    color: rgb(27, 94, 240);
    font-size: 22px;
    transition: transform 0.2s;
}

.btn-edt:hover {
    transform: scale(1.2);
}

.btn-excluir:hover {
    transform: scale(1.2);
}

.card-linear {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    margin-bottom: 10px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.span {
    font-weight: bold;
    font-size: 16px;
}

.list {
    margin-top: 20px;
}

.input {
    width: 60px;
    padding: 4px;
    border-radius: 4x;
    border: 1px solid #ccc; 
}

.btn-add {
    padding: 6px 12px;
    color: white;
    border: none;
    border-radius: 6px;
    background: #27ae60;
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn-add:hover {
    transform: scale(1.2);
}

.quantidade-pao {
    font-size: 14px;
    color: #555;
    margin-top: 0;
}